header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    background-color: cornflowerblue;
}

container{
    width: 1220px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img {
    width: 150px;
    border-radius: 25%;
    padding: 5px;
}

header h1{
    font-size: 48px;
}

.header_content{
    text-align: center;
}

.header_content a{
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.header_content a:first-child{
    margin-left: 0;
}

.header_content a:hover{
    color: rgb(240, 135, 15);
    text-decoration: underline;
}

.general a{
    text-decoration: none;
    color: rgb(19, 170, 27);
}


.general_items{
    display: flex;   
}

li{
    list-style-type: none; 
}
.items li{
    font-size: 20px;
}
.general_items div{
    flex: 1;   
}
.general_items :last-child{
    flex: 2;
}

.footer{
    display: flex;
    background-color: cyan;
    justify-content: space-around;   
}

.footer div{
    padding: 10px;
}

.footer img{
    width: 50px;
}
